[Unit]
Description=Lumberjack
Requires=ls-hubd_private.service ls-hubd_public.service
After=ls-hubd_private.service ls-hubd_public.service

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/sbin/lumberjack

[Install]
WantedBy=multi-user.target
